@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body{
    background-color: #282828;
    font-family: 'Open Sans', sans-serif;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

#andreas{
    font-weight: 500;
    font-size: 2em;
    color: #a0ffc3;
}

#introText{
    margin-top: 500px;
    font-size: 3.5em;
    text-align: center;
    color: #a0ffc3;
}